
auth.txt
auth_info.txt
analysis/auth.txt
analysis/auth_info.txt
*.DS_Store
.DS_Store
.DS_Store
*.png
#  ignore old scripts
analysis/_main_analyses_only_cdm_srcd/*
analysis/_photodraw_pilot/*

analysis/step1_get_drawings/CDM_Drawings/photodraw2/_old/*

# ignore all old drawings and descriptives
analysis/step1_get_drawings/THU_Drawings/1_download_sketches/_old_rendered_drawings/*
analysis/step1_get_drawings/THU_Drawings/1_download_sketches/.ipynb_checkpoints/*
analysis/step1_get_drawings/THU_Drawings/1_download_sketches/_dev/*

# ignore old code to get cumnulative drawings
analysis/step1_get_drawings/_get_cumulative_drawings/*

# ignore many old subject log archives
analysis/step1_get_drawings/THU_Drawings/2_subject_log_checks/_archived_detailed_logs/*

# ignore classificatinos indivdual files
analysis/step3_check_classifications/compiled/*
data/compiled/classification-outputs-062021_C_0.1/* 
#
analysis/step3_check_classifications/_old_CDM_Drawings_only/*

analysis/step4_main_analyses/1_examine_recognition/raw_recognition_data/*
data/CDM/drawings/_data_3_2020/*


# ignore prolific data files
analysis/step4b_download_recognition_data/csv_out/*

# not ready yet to be commited
# experiments/Recognition_ratings/*

# old gitignore
analysis/step1_get_drawings/THU_Drawings/2_subject_log_checks/subject_logs/KIDDRW_THU.csv
analysis/step1_get_drawings/THU_Drawings/2_subject_log_checks/subject_logs/KIDDRW_THU.xlsx
analysis/step1_get_drawings/THU_Drawings/2_subject_log_checks/subject_logs/KIDDRW_THU_cleaned.csv
analysis/step1_get_drawings/THU_Drawings/2_subject_log_checks/subject_logs/KIDDRW_THU_cleaned.xlsx
analysis/step1_get_drawings/THU_Drawings/2_subject_log_checks/subject_logs/subIDs_afterNov15.csv
analysis/step1_get_drawings/THU_Drawings/2_subject_log_checks/subject_logs/subject_log_sept2020.csv
analysis/step1_get_drawings/THU_Drawings/2_subject_log_checks/subject_logs/db_check_0713.xlsx
analysis/step1_get_drawings/THU_Drawings/2_subject_log_checks/subject_logs/correct_matches.csv
analysis/step1_get_drawings/THU_Drawings/2_subject_log_checks/subID_check.Rmd
analysis/step1_get_drawings/THU_Drawings/~$db_check_0713.xlsx
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_1000_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_100_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_1100_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_1200_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_1300_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_1400_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_1500_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_1600_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_1700_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_1800_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_1900_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_200_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_300_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_400_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_500_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_600_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_700_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_800_images_CDM_photodraw_e2_start_0.csv
analysis/step1_get_drawings/CDM_Drawings/photodraw2/photodraw2_descriptives/Photodraw2_AllDescriptives_900_images_CDM_photodraw_e2_start_0.csv
data/CDM/drawings/data_3_2020/photodraw2_descriptives/Photodraw2_SRCD_cleaned_data_4-8.csv
data/CDM/drawings/data_3_2020/photodraw2_descriptives/Photodraw2_1619_images_metadata.csv
.Rproj.user
analysis/step1_get_drawings/CDM_Drawings/photodraw2/1_render_all_sketches_photodraw 2.py
analysis/step1_get_drawings/THU_Drawings/preprocess_sketches 2.Rmd
experiments/CDM_online_version/code/node_modules/paper/dist/paperjs.zip
experiments/CDM_online_version/code/node_modules.zip
experiments/CDM_online_version/code/images_photocues.zip
experiments/0_photodraw_pilot/recognition_ratings/z-sanity-check/testData.zip
experiments/0_photodraw_pilot/recognition_ratings/batch1/experiment/images.zip
experiments/0_photodraw_pilot/code/node_modules/paper/dist/paperjs.zip
experiments/0_photodraw_pilot/code/node_modules.zip
experiments/0_photodraw_pilot/code/images.zip
data/compiled/drawings/object_drawings.zip
analysis/step4b_download_recognition_data/.ipynb_checkpoints/read_data_from_mongodb-checkpoint.ipynb
analysis/step5_tracing_evaluation/step1_render_highres_tracings/.ipynb_checkpoints/calculate_shape_spatial-devphotodraw-checkpoint.ipynb
analysis/step5_tracing_evaluation/step1_render_highres_tracings/.ipynb_checkpoints/pull_tracing_svg_400x400-checkpoint.ipynb
analysis/step4b_download_recognition_data/csv_out/Devphotodraw_recognition_pilot.csv
analysis/step5_tracing_evaluation/step1_render_highres_tracings/.ipynb_checkpoints/thu_couchdb_pull_tracing_svg_400x400-checkpoint.ipynb
analysis/step5_tracing_evaluation/step2_evaluate_tracings/rated_all_museumstation_filtered.csv
data/compiled/tracing_outputs/devphotodraw_tracing_all_tracings.csv
analysis/step4b_download_recognition_data/csv_out/batch1_production_june2021.csv
analysis/step4b_download_recognition_data/csv_out/batch2_production_june2021.csv
analysis/step4b_download_recognition_data/csv_out/batch3_production_june2021.csv
analysis/step4b_download_recognition_data/csv_out/batch4_production_june2021.csv
data/compiled/compiled_classifications/Classification_Outputs2161.csv
analysis/step4_get_features_and_classifications/2_run_classsificatinos/count_classification_outputs.nb.html
analysis/step4_get_features_and_classifications/2_run_classsificatinos/count_classification_outputs.nb.html
analysis/step4_get_features_and_classifications/2_run_classsificatinos/count_classification_outputs.nb.html
